<form action="/vicovi/<%= vic._id %>?_method=PUT" method="POST">
    <input type='text' name='cont[name]' value="<%= cont.name %>">
    <input type='text'  name='cont[img]'  value="<%= cont.img %>">
    <input type='text'  name='cont[body]'  value="<%= cont.body %>">
    
    <button>Post</button>

</form>