<form action='/sport' method="POST">
    <input type='text' name='sport[name]' placeholder="Name">
    <input type='text'  name='sport[img]'  placeholder="Url">
    <input type='text'  name='sport[video]'  placeholder="video Url">
    <input type='text'  name='sport[body]'  placeholder="Text">
    <button>Post</button>

</form>