<form action='/vicovi' method="POST">
    <input type='text' name='vic[title]' placeholder="Name">
    <input type='text'  name='vic[image]'  placeholder="Url">
    <input type='text'  name='vic[body]'  placeholder="Text">
    <button>Post</button>

</form>